.mui-panel {
    width: max-content;
    margin: 1rem auto;
}
.Solution-img{
    height: 65vh;
}
.Solution-bg {
color: #000000;
height: 20vh;
width: 75vw;
object-fit: cover;
filter: brightness(60%);
}

.Solution-description, .Solution-cure{
    width: 80vw;
    white-space: pre-line;
    text-align: left;
    font-size: 0.9rem;
    padding: 0.5rem;
}